#content {
    display: flex;
}


#test {
    width: 50px;
    height: 50px;
    background-color: rosybrown;
}

#user-interface {
    display: none;
}

.game-type-selection-buttons {
    margin: 10px;
}

#rotation-icon {
    position: absolute;
    height: 50px;
    width: 50px;
}

#rotation-icon:hover {
    background-color: rgba(143, 137, 137, 0.4);
    border-radius: 5px;
}

.gameboard-0-cell {
    height: 25px;
    width: 25px;
    background-color: black;
    border: 1px solid black;
}

.gameboard-1-cell {
    height: 25px;
    width: 25px;
    background-color: black;
    border: 1px solid black;
}

.opponent-gameboard-0-cell {
    height: 25px;
    width: 25px;
    background-color: black;
    border: 1px solid black;
}

.opponent-gameboard-1-cell {
    height: 25px;
    width: 25px;
    background-color: black;
    border: 1px solid black;
}


#gameboard-header-container {
    display: flex;
    justify-content: space-around;
}

#gameboard-0 {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
}

#gameboard-1 {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
}

#opponent-gameboard-0 {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
}

#opponent-gameboard-1 {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
}